[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"

[packages]
flask = "*"
python-dotenv = "*"
requests = "*"
pymongo = "*"
flask-apscheduler = "*"
openpyxl = "*"
gunicorn = "*"
flask-mail = "*"

[requires]
python_version = "3.7"
